.faq {
    padding: 32px;
    h2 {
        margin-top: 64px;
        font-size: 24px;
        color: #3c4043;
        font-family: $font-type;
    }
    p {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: $font-type;
        font-size: 14px;
        font-weight: 400px;
    }
}